

<!-- BOXES are complex enough to move the .box-header around.
                                                 This is an example of having the box header within the box body -->
<!-- compose message btn -->

<!-- Navigation - folders-->
<div style="margin-top: 15px;">
	<ul class="nav nav-pills nav-stacked">
		<li class="header">Profile Menu</li>
		<li class="active"><a href="aboutme"><i class="fa fa-inbox"></i>About</a></li>
		<li><a href="specilites"><i class="fa fa-thumbs-up"></i>
				Specialities</a></li>
				<li><a href="Procedures"><i class="fa fa-thumbs-up"></i>
				Procedures</a></li>
		<li><a href="Conditions"><i class="fa fa-thumbs-up"></i>
				Conditions</a></li>
		<li><a href="education"><i class="fa fa-thumbs-down"></i>
				Education</a></li>
		<li><a href="workExperience"><i class="fa fa-folder"></i>
				Work Experience</a></li>
		<li><a href="awards"><i class="fa fa-pencil-square-o"></i>
				Awards & Certifications</a></li>
				<li><a href="medicalRegistration"><i class="fa fa-pencil-square-o"></i>
				Medical Registration</a></li>

	</ul>
</div>
