<div class="grid-search">
	<div class="vc_span6">

		<div class="wpb_tabs wpb_content_element">
			<div
				class="wpb_tour_tabs_wrapper clearfix ui-tabs ui-widget ui-widget-content ui-corner-all" style="border: none">
				<ul class="wpb_tabs_nav clearfix" role="tablist" style="border: none"> 
					<li role="tab" aria-selected="true"><a href="#tab-1">Doctor</a></li>
					<li role="tab"><a href="#tab-2">Hospital</a></li>
					<li role="tab"><a href="#tab-3">Articles</a></li>
				</ul>
				<div id="tab-1" class="wpb_tab" style="border: none">
					<div class="wpb_text_column wpb_content_element">
						<form id="quick-search" class="quick-search quick-search-visible"
							action="searchDoctor">
							<fieldset>
								<input type="text" placeholder="Search doctor by  name"
									name="doctor" class="home-search-name doctorSearch">
									
									<input type="text" placeholder="City"
									name="city" class="home-search-city citySearch">
								<button type="submit">Search</button>
							</fieldset>
						</form>
					</div>
				</div>
				<div id="tab-2" class="wpb_tab" style="border: none">
					<div class="wpb_text_column wpb_content_element">
						<form id="quick-search" class="quick-search quick-search-visible "
							action="searchHospital">
							<fieldset>
								<input type="text" placeholder="Search hospital by name"
									name="hospital" class="home-search-name hospitalSearch">
									<input type="text" placeholder="City"
									name="city" class="home-search-city citySearch">
								<button type="submit">Search</button>
							</fieldset>
						</form>
					</div>
				</div>
				<div id="tab-3" class="wpb_tab" style="border: none">
					<div class="wpb_text_column wpb_content_element">
						<form id="quick-search" class="quick-search quick-search-visible"
							action="searchArticle">
							<fieldset>


								<input type="text" placeholder="Search article by keyword"
									name="article" class="searchArticle">

								<button type="submit">Search</button>

							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
